@import '~bootstrap/dist/css/bootstrap';

body {
    height: 100vh;
    width: 100vw;
    background-color: #36393F;
    color: white;
}

.container-after-titlebar {
    overflow-x: hidden !important;
    overflow-y: auto;
}

#app {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}